.content {
    width: 500px;
    max-width: 100%;
    .inf {
        width: 70px;
        height: 30px;
        background-color: transparent;
        display: block;
        font-weight: 600;
        display: block;
        margin-top: 10px;
        display: inline-block;
        margin-right: 20px;
    }
}